@using Microsoft.AspNetCore.Http
@inject IHttpContextAccessor HttpContextAccessor

<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	@* <title>@ViewData ["Title"] - EcommerceBookStore</title> *@
	<title>Book Store</title>
	<link rel="icon" href="~/awardbooks.png" type="image/x-icon" />
	@* Bootstrap icon *@
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
	@* Datatables *@
	<link rel="stylesheet" href="//cdn.datatables.net/2.0.0/css/dataTables.dataTables.min.css" />

	<link rel="stylesheet" href="~/EcommerceBookStore.styles.css" asp-append-version="true" />
	<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
	<link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
	@* Toastr *@
	<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/css/toastr.min.css" />
</head>
<body>
	<header>
		<nav class="navbar fixed-top navbar-expand-sm navbar-toggleable-sm navbar-light border-bottom box-shadow" style="background-color:#FF6868">
			<div class="container-fluid">
				<a class="navbar-brand" asp-area="Customer" asp-controller="Home" asp-action="Index">
					<img src="~/images/book.png" style="width:30px" />
				</a>
				<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
						aria-expanded="false" aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				</button>
				<div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
					<ul class="navbar-nav me-auto">
						<li class="nav-item">
							<a class="nav-link text-white" asp-area="Customer" asp-controller="Home" asp-action="Index">HOME</a>
						</li>
						<li class="nav-item">
							<a class="nav-link text-white" asp-area="Customer" asp-controller="home" asp-action="Blog">BLOG</a>
						</li>
						<li class="nav-item">
							<a class="nav-link text-white" asp-area="Customer" asp-controller="home" asp-action="About">ABOUT</a>
						</li>
						<li class="nav-item">
							<a class="nav-link text-white" asp-area="Customer" asp-controller="home" asp-action="Contact">CONTACT</a>
						</li>

						@if (User.IsInRole(SD.Role_Admin)) {
							<li class="nav-item dropdown">
								<a class="nav-link dropdown-toggle text-white" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
									MANAGEMENT
								</a>
								<ul class="dropdown-menu">
									<li><a class="dropdown-item" asp-area="Admin" asp-controller="Category" asp-action="Index">Category</a></li>
									<li><a class="dropdown-item" asp-area="Admin" asp-controller="Product" asp-action="Index">Product</a></li>
									<li><a class="dropdown-item" asp-area="Admin" asp-controller="Company" asp-action="Index">Comapny</a></li>
									<li><a class="dropdown-item" asp-area="Admin" asp-controller="Order" asp-action="Index">Order</a></li>
									<li><hr class="dropdown-divider"></li>
									<li><a class="dropdown-item" asp-area="Identity" asp-page="/Account/Register">Create User</a></li>
									<li><a class="dropdown-item" asp-area="Admin" asp-controller="User" asp-action="Index">Manage User</a></li>
								</ul>
							</li>
						}

						<li class="nav-item">
							<a class="nav-link text-white" asp-area="Customer" asp-controller="Cart" asp-action="Index">
								@await Component.InvokeAsync("ShoppingCart")
							</a>
						</li>
					</ul>

					<div class="me-auto">
						<div>
							<div class="form d-flex justify-content-center align-items-center">
								<i class="bi bi-search"></i>
								<input type="text" class="form-control form-input" style="width:500px" placeholder="Search anything...">
								<span class="left-pan"><i class="bi bi-mic-fill"></i> &nbsp; </span>
							</div>
						</div>
					</div>

					<partial name="_LoginPartial" />
				</div>
			</div>
		</nav>
	</header>

	@* Body *@
	<div class="" style="margin-top:78px">
		<main role="main" class="pb-3">
			<partial name="_Notification" />
			@RenderBody()
		</main>
	</div>

	<footer class="text-center text-lg-start bg-dark text-muted">
		<section class="d-flex justify-content-center justify-content-lg-between p-4"
				 style="background-color: #9195F6">
			<div class="me-5 d-none d-lg-block text-white">
				<span>Get connected with us on social networks:</span>
			</div>
			<div class="text-white">
				<a href="" class="me-4 text-reset">
					<i class="bi bi-facebook"></i>
				</a>
				<a href="" class="me-4 text-reset">
					<i class="bi bi-twitter"></i>
				</a>
				<a href="" class="me-4 text-reset">
					<i class="bi bi-google"></i>
				</a>
				<a href="" class="me-4 text-reset">
					<i class="bi bi-instagram"></i>
				</a>
				<a href="" class="me-4 text-reset">
					<i class="bi bi-linkedin"></i>
				</a>
				<a href="" class="me-4 text-reset">
					<i class="bi bi-github"></i>
				</a>
			</div>
		</section>
		<section class="">
			<div class="container text-center text-md-start mt-5">
				<div class="row mt-3">
					<div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
						<h6 class="text-uppercase text-white fw-bold">
							<i class="bi bi-gem"></i>&nbsp;&nbsp; Company name
						</h6>
						<hr class="mb-4 mt-0 d-inline-block mx-auto"
							style="width: 60px; background-color: #74E291; height: 3px" />
						<p class="text-white">
							Here you can use rows and columns to organize your footer content. Lorem ipsum
							dolor sit amet, consectetur adipisicing elit.
						</p>
					</div>
					<div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
						<h6 class="text-uppercase text-white fw-bold">Products</h6>
						<hr class="mb-4 mt-0 d-inline-block mx-auto"
							style="width: 60px; background-color: #74E291; height: 3px" />
						<p class="text-white">
							<a href="#!" class="text-reset">Books</a>
						</p>
					</div>
					<div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
						<h6 class="text-uppercase text-white fw-bold">Useful links</h6>
						<hr class="mb-4 mt-0 d-inline-block mx-auto"
							style="width: 60px; background-color: #74E291; height: 3px" />
						<p class="text-white">
							<a href="#!" class="text-reset">Pricing</a>
						</p>
						<p class="text-white">
							<a href="#!" class="text-reset">Settings</a>
						</p>
						<p class="text-white">
							<a href="#!" class="text-reset">Orders</a>
						</p>
						<p class="text-white">
							<a href="#!" class="text-reset">Help</a>
						</p>
					</div>
					<div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
						<h6 class="text-uppercase text-white fw-bold">Contact</h6>
						<hr class="mb-4 mt-0 d-inline-block mx-auto"
							style="width: 60px; background-color: #74E291; height: 3px" />
						<p class="text-white"><i class="bi bi-house-fill"></i>&nbsp; New York, NY 10012, US</p>
						<p class="text-white">
							<i class="bi bi-envelope-fill"></i> &nbsp; bookstore@gmail.com
						</p>
						<p class="text-white"><i class="bi bi-telephone-fill"></i>&nbsp; + 01 234 567 88</p>
						<p class="text-white"><i class="bi bi-printer-fill"></i>&nbsp; + 01 234 567 89</p>
					</div>
				</div>
			</div>
		</section>
		<div class="text-center text-white p-4" style="background-color: rgba(0, 0, 0, 0.05);">
			© 2024 Copyright:
			<a class="text-reset fw-bold" href="https://localhost:7245/">BookStore.com</a>
		</div>
	</footer>

	<script src="~/lib/jquery/dist/jquery.min.js"></script>
	<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
	<script src="~/js/site.js" asp-append-version="true"></script>

	@* toastr *@
	<script src="~/lib/jquery/dist/jquery.js"></script>
	<script src="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/js/toastr.min.js"></script>

	@* Datatables *@
	<script src="//cdn.datatables.net/2.0.0/js/dataTables.min.js" asp-append-version="true"></script>
	@* Tiny *@
	<script src="https://cdn.tiny.cloud/1/7p1vkmumjx1vd9oo212x4qhbns8lvbk16ltwhhh2uryq0s2w/tinymce/6/tinymce.min.js" referrerpolicy="origin"></script>
	@* Sweetalert2 *@
	<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
	@await RenderSectionAsync("Scripts", required: false)
</body>
</html>
