@using Microsoft.AspNetCore.Identity

@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

<ul class="navbar-nav">
	@if (SignInManager.IsSignedIn(User)) {
		<li class="nav-item dropdown">
			<a class="nav-link text-white dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
				<i class="bi bi-bell-fill mr-2"></i>
				Hello @UserManager.GetUserName(User)!
			</a>
			<ul class="dropdown-menu" aria-labelledby="navbarDropdown">
				<li>
					<a class="dropdown-item" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">
						<i class="bi bi-person m-lg-1"></i>
						Account
					</a>
				</li>
				<li><a class="dropdown-item" href="#"><i class="bi bi-bag m-lg-1"></i>&nbsp;Purchase</a></li>
				@if(User.IsInRole(SD.Role_Customer) || User.IsInRole(SD.Role_Company)) {
					<li>
						<a class="dropdown-item" asp-area="Admin" asp-controller="Order" asp-action="Index">
							<i class="bi bi-clipboard-check m-lg-1"></i>
							Order
						</a>
					</li>
				}
				<li><hr class="dropdown-divider"></li>
				<li><a class="dropdown-item" href="#"><i class="bi bi-gear m-lg-1"></i>&nbsp;Setting</a></li>
			</ul>
		</li>

		<li class="nav-item">
			<form id="logoutForm" class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
				<button id="logout" type="submit" class="nav-link btn btn-link text-white border-0">
					<i class="bi bi-box-arrow-right m-lg-1"></i>
				</button>
			</form>
		</li>
	} else {
		<li class="nav-item">
			<a class="nav-link text-white" id="register" asp-area="Identity" asp-page="/Account/Register">Register</a>
		</li>
		<li class="nav-item">
			<a class="nav-link text-white" id="login" asp-area="Identity" asp-page="/Account/Login">Login</a>
		</li>
	}
</ul>
