@model Company

<section class="container content mt-4 mb-5">
	@* Breadcrumb *@
	<ol class="breadcrumb float-sm-right pt-3">
		<li class="breadcrumb-item">
			<a asp-area="Customer" asp-controller="Home" asp-action="Index" style="text-decoration:none;color:#000">Home</a>
		</li>
		<li class="breadcrumb-item">
			<a asp-area="Admin" asp-controller="Company" asp-action="Index" style="text-decoration:none;color:#000">Company</a>
		</li>
		<li class="breadcrumb-item active">Add</li>
	</ol>

	<form method="post" enctype="multipart/form-data">
		<input asp-for="Id" hidden />
		<div class="card">
			@if (Model.Id != 0) {
				<div class="card-header bg-gradient" style="background-color:#74E291">
					<div class="row my-2">
						<h2 class="text-white text-center">Update Company</h2>
					</div>
				</div>
			} else {
				<div class="card-header bg-gradient" style="background-color:#39A7FF">
					<div class="row my-2">
						<h2 class="text-white text-center">Create Company</h2>
					</div>
				</div>
			}

			<div class="card-body">
				<div asp-validation-summary="None"></div>
				<div class="bs-stepper-content">
					<div class="content row" role="tabpanel" aria-labelledby="logins-part-trigger">
						<div class="col-12">
							<div class="row">
								<div class="form-floating py-2 mb-3 col-12">
									<input asp-for="Name" class="form-control border-0 shadow" />
									<label asp-for="Name" class="ms-2"></label>
									<span asp-validation-for="Name" class="text-danger" style="font-size:14px"></span>
								</div>

								<div class="form-floating py-2 mb-3 col-12">
									<input asp-for="StreetAddress" class="form-control border-0 shadow" />
									<label asp-for="StreetAddress" class="ms-2"></label>
									<span asp-validation-for="StreetAddress" class="text-danger" style="font-size:14px"></span>
								</div>

								<div class="form-floating py-2 mb-3 col-12">
									<input asp-for="City" class="form-control border-0 shadow" />
									<label asp-for="City" class="ms-2"></label>
									<span asp-validation-for="City" class="text-danger" style="font-size:14px"></span>
								</div>

								<div class="form-floating py-2 mb-3 col-12">
									<input asp-for="State" class="form-control border-0 shadow" />
									<label asp-for="State" class="ms-2"></label>
									<span asp-validation-for="State" class="text-danger" style="font-size:14px"></span>
								</div>

								<div class="form-floating py-2 mb-3 col-12">
									<input asp-for="PhoneNumber" class="form-control border-0 shadow" />
									<label asp-for="PhoneNumber" class="ms-2"></label>
									<span asp-validation-for="PhoneNumber" class="text-danger" style="font-size:14px"></span>
								</div>

								<div class="form-floating py-2 mb-3 col-12">
									<input asp-for="PostalCode" class="form-control border-0 shadow" />
									<label asp-for="PostalCode" class="ms-2"></label>
									<span asp-validation-for="PostalCode" class="text-danger" style="font-size:14px"></span>
								</div>

								<div class="form-group my-md-3 col-12">
									<div class="row">
										<div class="col-6 col-md-6">
											<a asp-area="Admin" asp-controller="Company" asp-action="Index" class="btn btn-danger mr-3 form-control">
												<i class="bi bi-arrow-bar-left"></i>
												Back To List
											</a>
										</div>
										<div class="col-6 col-md-6">
											@if (Model.Id != 0) {
												<button type="submit" class="btn bg-gradient form-control" style="background-color:#8ADAB2;color:#fff">
													<i class="bi bi-check-lg"></i>
													Update
												</button>
											} else {
												<button type="submit" class="btn btn-primary form-control">
													<i class="bi bi-check-lg"></i>
													Create
												</button>
											}
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</form>
</section>

@section Scripts {
@* 	<script>
		tinymce.init({
			selector: 'textarea',
			plugins: 'anchor autolink charmap codesample emoticons image link lists media searchreplace table visualblocks wordcount checklist mediaembed casechange export formatpainter pageembed linkchecker a11ychecker tinymcespellchecker permanentpen powerpaste advtable advcode editimage advtemplate ai mentions tinycomments tableofcontents footnotes mergetags autocorrect typography inlinecss',
			toolbar: 'undo redo | blocks fontfamily fontsize | bold italic underline strikethrough | link image media table mergetags | addcomment showcomments | spellcheckdialog a11ycheck typography | align lineheight | checklist numlist bullist indent outdent | emoticons charmap | removeformat',
			tinycomments_mode: 'embedded',
			tinycomments_author: 'Author name',
			mergetags_list: [
				{ value: 'First.Name', title: 'First Name' },
				{ value: 'Email', title: 'Email' },
			],
			ai_request: (request, respondWith) => respondWith.string(() => Promise.reject("See docs to implement AI Assistant")),
		});
	</script> *@
	@{
		<partial name="_ValidationScriptsPartial" />
	}
}