
<div class="container">
	<ol class="breadcrumb float-sm-right pt-3">
		<li class="breadcrumb-item">
			<a asp-area="Customer" asp-controller="Home" asp-action="Index" 
				style="text-decoration:none;color:#000">
				Home
			</a>
		</li>
		<li class="breadcrumb-item active">User</li>
	</ol>

	<div class="card shadow border-0 mb-4 mt-2">
		<div class="card-header bg-gradient text-white ml-0 py-3" style="background-color: #B4B4B8">
			<div class="row">
				<div class="col-12 text-center">
					<h2 class="text-white">User List</h2>
				</div>
			</div>
		</div>
		<div class="card-body p-4">
			<table id="dataTable" class="table" style="width: 100%">
				<thead>
					<tr>
						<th>Name</th>
						<th>Email</th>
						<th>Phone</th>
						<th>Company</th>
						<th>Role</th>
						<th></th>
					</tr>
				</thead>
			</table>
		</div>
	</div>
</div>

@section Scripts {
	<script src="~/js/user.js"></script>
}
